@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Ctrl Up</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue à Ctrl Up</h2>
        <p>
            Ctrl Up est une ESN comme les autres mais qui comporte uniquement les avantages sans les inconvénients
        </p>
    </div>
</div>